# Gradle
.gradle/
build/
gradle-app.setting
gradlew
gradlew.bat

# Java
*.class
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# IDE
.idea/
.vscode/
*.iml
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Notes and Help
HELP.md
HINTS.md
/exercism/java/*/README.md

# Gradle files
/exercism/java/*/build.gradle
/exercism/java/*/gradle/

# Exercism files
/exercism/java/*/.exercism/

# Bin files
/exercism/java/*/bin/